<!-- MAIN PROFILE PAGE -->

<header>
	<h2>Welcome to Whistler!</h2>
</header>


<!-- PERSONAL INFO FORM BUTTON -->

<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm">Personal Info</button>
<br>
<br>


<div ng-controller="messageCtrl" layout="column" ng-cloak class="md-inline-form">
<form>

	Set Contact Number:<input type='text' placeholder="Phone Number:" ng-model= "message.phone"><br><br>
	Set Timer Duration (in Minutes):<input type='number' placeholder="Set Timer Duration:" ng-model="timeAmount.time"><br><br>
	Customize Message <input type='text' placeholder="Message:" ng-model= "message.text"><br><br>
	<button ng-click="setTimer()">Set Message Timer</button><br><br>
	<button ng-click="stopTimer()">Stop Message Timer</button>
	<br>
	<br>
<div ng-controller="loginCtrl">
	<button class="btn btn-info" ng-click="logout()">Logout</button>
</div>








</form>


</div>

<!-- LOGIN POPUP W/ INIT -->
<div ng-controller="AppCtrl" class="md-padding" id="popupContainer" ng-cloak ng-init="showAlert($event)">

  <div class="dialog-demo-content" layout="row" layout-wrap layout-margin layout-align="center">









    
