<!-- MAIN PROFILE PAGE -->
<!-- PERSONAL INFO FORM BUTTON -->
<!-- LOGIN POPUP W/ INIT -->
<div ng-controller="outingController">
    
        <div class="md-toolbar-tools">
            <md-button ng-click="openSidebar()">
                <md-icon class="mdi mdi-plus-circle"></md-icon>
                New Outing
            </md-button>
          
        </div>
   
    <div ng-controller="userCtrl">
        <div ng-include="'views/userForm.html'"></div>
        <md-toolbar md-scroll-shrink>
            <h2> Hello, {{ userObject.firstName + ' ' + userObject.lastName || "no last post" }} </h2>
            <h4> Your Address: {{ userObject.address + ', ' + userObject.city  + ', ' + userObject.state + ', '  + userObject.zip }} ||| Your Contacts: {{ userObject.contactOne + ', ' + userObject.contactTwo }}</h4>
        </md-toolbar>
    </div>
    <div class="filters" layout="row" layout-align="center center" ng-show="showFilters">
        <md-input-container>
            <label>Enter a Search Term</label>
            <input ng-model="outingsFilter" type="text">
        </md-input-container>
        <md-input-container>
            <label>Category</label>
            <md-select ng-model="category">
                <md-option ng-repeat="category in categories" value="{{ category }}">
                    {{ category.uid }}
                </md-option>
            </md-select>
        </md-input-container>
        <div layout="row">
            <md-button ng-click="outingsFilter = '';category=''" class="md-warn">
                Clear
            </md-button>
        </div>
    </div>
    <div ng-include="'views/outingForm.html'"></div>
    <md-content class="md-padding" layout="row" layout-wrap>
        <md-card ng-repeat="outing in outings">
            <img ng-src="{{ outing.image }}" class="md-card-image">
            <md-card-content>
                <div class="classified-info" ng-show="!showContact">
                    <h2 class="md-title">{{ outing.title }}</h2>
                    <h3>{{ outing.price | currency }}</h3>
                    <p>{{ outing.description }}</p>
                </div>
                <div class="classified-contact" ng-show="showContact">
                    <p>
                        <md-icon class="mdi mdi-account"></md-icon> {{ outing.contact.name }}</p>
                    <p>
                        <md-icon class="mdi mdi-phone"></md-icon> {{ outing.contact.phone }}</p>
                    <p>
                        <md-icon class="mdi mdi-email"></md-icon> {{ outing.contact.email }}</p>
                </div>
                <div layout="row">
                    <md-button ng-click="showContact = true" ng-show="!showContact">
                        Contact
                    </md-button>
                    <md-button ng-click="showContact = false" ng-show="showContact">
                        Details
                    </md-button>
                    <md-button ng-click="showAdmin = true" ng-show="!showAdmin">
                        Admin
                    </md-button>
                    <md-button ng-click="showAdmin = false" ng-show="showAdmin">
                        Close
                    </md-button>
                </div>
                <div class="classified-admin" ng-if="showAdmin">
                    <h3>Admin</h3>
                    <div layout="row">
                        <md-button class="md-primary" ng-click="editOuting(outing)">
                            Edit
                        </md-button>
                        <md-button class="md-warn" ng-click="deleteOuting($event, outing.id)">
                            Delete
                        </md-button>
                    </div>
                </div>
            </md-card-content>
        </md-card>
    </md-content>
</div>
<div ng-controller="AppCtrl" class="md-padding" id="popupContainer" ng-cloak ng-init="showAlert($event)">
    <div class="dialog-demo-content" layout="row" layout-wrap layout-margin layout-align="center">
    </div>
</div>
